<ion-content>
  <ion-list lines="full" class="ion-no-margin ion-no-padding">
    <ion-item>
      <div class="pull-left">
        <strong><label>Room Id</label> : <span>{{roomData.roomId}}</span></strong>
      </div>
      <div class="joined">
        <strong><label>Players Joined</label> : <span>{{players.length}}</span></strong>
      </div>
    </ion-item>
    <ion-item *ngFor="let player of players">
      <ion-col size=2>
        <!-- <img class="profile" src={{player.profilePic}}> -->
        <img *ngIf="player.profilePic" src={{player.profilePic}}>
        <img *ngIf="!player.profilePic" src='../assets/img/avatar.svg'>
      </ion-col>
      <ion-col size=9>
        {{player.name}} <span *ngIf="user._id == player._id">(You)</span>
      </ion-col>
    </ion-item>
  </ion-list>
  <div *ngIf="user._id != creator._id">
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <strong *ngIf="roomData.gameStatus == 'BeforeStart'">{{creator.name}} will start Game</strong>
    </ion-list>
  </div>
  <div *ngIf="user._id == creator._id">
    <ion-button expand="block" *ngIf="players.length>=1 && roomData.gameStatus == 'BeforeStart'"
      (click)="startGame(roomData)">Start
      Game
    </ion-button>
  </div>
  <ion-button expand="block" [routerLink]="['/inside-table/', roomData.roomId]" routerDirection="forward"
    *ngIf="roomData.gameStatus=='Start'">Go To The Game
  </ion-button>
  <ion-button expand="block" (click)="shareWithWhatsup()">
    Share with whatsup
  </ion-button>
</ion-content>