.h-table {
    background: yellow;
    width: 40%;
    text-align: center;
    align-self: center;
}

.draw-table {
    background: yellow;
    width: 80%;
    text-align: center;
    align-self: center;
}

.table-bordered td,
.table-bordered th {
    border: 2px solid black;
}

.h-col:hover {
    background-color: red;
}

.h-col-empty {
    background-color: grey;
}

.h-col-selected {
    background-color: green;
}

.draw-num {
    font-size: xx-large;
}