<ion-content>
  <ion-grid>
    <ion-row *ngFor="let num of draw">
      <ion-col class="cell-class" [ngClass]="{'h-col-selected': n.status=='Closed','h-col-empty':n.status == 'Open'}"
        *ngFor="let n of num">
        <label>
          {{n.number==0?"":n.number}}
        </label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid *ngIf="drawNum">
    <ion-row>
      <ion-col>
        <span>Last Number</span>
        <strong class="draw-num">
          {{drawNum}}
        </strong>
      </ion-col>
      <ion-col>
        <div class="ion-text-end">
          <strong class="draw-num">
            {{timer}}
          </strong>
        </div>
      </ion-col>
    </ion-row>

  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col class="cell-class"
        [ngClass]="{'h-col': n.number!=0 && n.status=='Pending','h-col-selected': n.status=='Selected','h-col-empty':n.number==0}"
        *ngFor="let n of ticket.firstLine">
        <label (click)="selectNumber('firstLine',n.number,n.status)">
          {{n.number==0?"":n.number}}
        </label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell-class"
        [ngClass]="{'h-col': n.number!=0 && n.status=='Pending','h-col-selected': n.status=='Selected','h-col-empty':n.number==0}"
        *ngFor="let n of ticket.secondLine">
        <label (click)="selectNumber('secondLine',n.number,n.status)">
          {{n.number==0?"":n.number}}
        </label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="cell-class"
        [ngClass]="{'h-col': n.number!=0 && n.status=='Pending','h-col-selected': n.status=='Selected','h-col-empty':n.number==0}"
        *ngFor="let n of ticket.thirdLine">
        <label (click)="selectNumber('thirdLine',n.number,n.status)">
          {{n.number==0?"":n.number}}
        </label>
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button (click)="juldiFive()" size="small">
          Juldy5
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="firstLine()" size="small">
          1st Line
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="secondLine()" size="small">
          2nd Line
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="thirdLine()" size="small">
          3rd Line
        </ion-button>
      </ion-col>
      <ion-col>
        <ion-button (click)="fullHousie()" size="small">
          Full Housie
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>