.h-col:hover {
    background-color: red;
}

.h-col-empty {
    background-color: grey;
}

.h-col-selected {
    background-color: green;
}

.draw-num {
    font-size: xx-large;
}

.cell-class {
    border-color: black;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;
}