.guestLogin {
    margin-left: 15%;
    margin-right: 15%;
}

.fbLogin {
    margin-left: 15%;
    margin-right: 15%;
}

.ticket {
    margin-top: 20%;
}

.cell-class {
    border-color: black;
    border-width: .01em;
    border-style: solid;
    margin-bottom: -1px;
}

.h-col:hover {
    background-color: red;
}

.h-col-empty {
    background-color: grey;
}

.h-col-selected {
    background-color: green;
}

.head {
    background: red;
}