.tit {
    display: inline-block;
    margin-top: -12%;
}

.head {
    background: red;
}

.content {
    margin-top: 20%;
}


// .profile {
//     margin-block-end: 10px;
//     margin-inline-end: 70px;
// }